<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="utf-8">

    <title>LSBSteg | Home</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>


    <style>
        body{
            background-color: black;
        }
        .content{
            height: 100vh;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        .btn{
            border-radius: 50px;
            margin-left: 50px;
            margin-right: 50px;
        }
    </style>
</head>

<body>
    <div class="container">
        <div class="content">
            <a href="/encrypt">
                <button class="btn btn-lg btn-outline-warning">Encrypt Image</button>
            </a>
            <a href="/decrypt">
                <button class="btn btn-lg btn-outline-warning">Decrypt Image</button>
            </a>
        </div>
    </div>
</body>
</html>